In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv("/content/diabetes.csv - diabetes.csv.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
data.head()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
data.describe

<bound method NDFrame.describe of      Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]>

In [ ]:
data.shape

(768, 9)

In [ ]:
corr = data.corr()
print(corr)

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [ ]:
print(data.mean())

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
print(data.std())

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
X=data.drop('Outcome',axis=1)
y=data['Outcome']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(X_train)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
443            8      108             70  ...  30.5                     0.955   33
80             3      113             44  ...  22.4                     0.140   22
539            3      129             92  ...  36.4                     0.968   32
50             1      103             80  ...  19.4                     0.491   22
92             7       81             78  ...  46.7                     0.261   42
..           ...      ...            ...  ...   ...                       ...  ...
303            5      115             98  ...  52.9                     0.209   28
429            1       95             82  ...  35.0                     0.233   43
701            6      125             78  ...  27.6                     0.565   49
238            9      164             84  ...  30.8                     0.831   32
203            2       99             70  ...  20.4                     0.235   27

[614 rows x 8 columns]

In [ ]:
print(y_train)

443    1
80     0
539    1
50     0
92     0
      ..
303    1
429    1
701    1
238    1
203    0
Name: Outcome, Length: 614, dtype: int64

In [ ]:
print(X_test)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
495            6      166             74  ...  26.6                     0.304   66
473            7      136             90  ...  29.9                     0.210   50
737            8       65             72  ...  32.0                     0.600   42
46             1      146             56  ...  29.7                     0.564   29
279            2      108             62  ...  25.3                     0.881   22
..           ...      ...            ...  ...   ...                       ...  ...
751            1      121             78  ...  39.0                     0.261   28
577            2      118             80  ...  42.9                     0.693   21
648           11      136             84  ...  28.3                     0.260   42
62             5       44             62  ...  25.0                     0.587   36
229            0      117             80  ...  45.2                     0.089   24

[154 rows x 8 columns]

In [ ]:
print(y_test)

495    0
473    0
737    0
46     0
279    0
      ..
751    0
577    1
648    1
62     0
229    0
Name: Outcome, Length: 154, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.tree import DecisionTreeClassifier
data_classifier = DecisionTreeClassifier()
data_classifier.fit(X_train, y_train)
y_pred = data_classifier.predict(X_test)


correct = (y_pred==y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

accuracy =  70.77922077922078 %